<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Skills</title>
</head>
<body>
    <a href="skills/new">Add skill</a>
    <h1>Skills</h1>
    <ul>
        <% skills.forEach(function(s){ %>
            <li>
                <form action="/skills/<%= s.id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>

                <a href="/skills/<%= s.id %>"><%= s.skill %></a>
                <%= s.skill %>
                -
                <%= s.learned ? 'learned' : 'not learned' %>
            </li>
        <% }); %>
    </ul>
    <br>
    <a href="/">Home</a>
</body>
</html>